{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
	html {
		min-height: 100%;
	}

	body {
		background: -webkit-linear-gradient(right, #93B874, #C9DDE3);
		background: -o-linear-gradient(left, #93B874, #C9DDE3);
		background: -moz-linear-gradient(left, #93B874, #C9DDE3);
		background: -linear-gradient(to left, #93B874, #C9DDE3);
		background-color: #93B874;
	}
</style>
</head>
<body>
  <p><span class="glyphicon glyphicon-plane"></span>thisWay</p>
</body>
</html>
{% endblock %}